@import "tailwindcss";

@source "../../*.html";

@theme {
  --color-primary: #D1A14E;
  --color-on-primary: #131314;
  --color-primary-container: #3d2b00;
  --color-on-primary-container: #A67B30;
  --color-surface: #131314;
  --color-surface-dim: #131314;
  --color-surface-container-lowest: #0e0e0f;
  --color-surface-container-low: #1b1b1c;
  --color-surface-container: #1f1f20;
  --color-surface-container-high: #2a2a2b;
  --color-surface-container-highest: #353436;
  --color-on-surface: #e5e2e3;
  --color-on-surface-variant: #d2c4bc;
  --color-outline: #9b8e87;
  --color-outline-variant: #4f453f;
  --color-tertiary-container: #3d2b1f;
  --color-on-tertiary-container: #ac9181;
  --color-error: #ffb4ab;
  --color-secondary: #c3cc8c;

  --font-headline: "Noto Serif", serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Inter", sans-serif;

  --radius-default: 0px;
  --radius-lg: 0px;
  --radius-xl: 0px;
  --radius-full: 9999px;
}
